<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1 class="text-xl font-bold text-center py-4">My blogs</h1>
        <div class="items-center">
            <div class="py-4 border-b-[1px]">
                <h2 class="py-4 text-lg font-bold "><%= blog.title%>
                </h2>
                <h3 class="font-bold"><%= blog.snippet%>
                </h3>
                <p>
                    <%= blog.body%>
                </p>
            </div>
            <a id="delete" class="text-red-500" data-doc="<%= blog._id %>">delete</a>

        </div>

    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
<script>
    const deleteBtn = document.querySelector('#delete');

    deleteBtn.addEventListener('click', async (e) => {
        const id = e.target.getAttribute('data-doc');
        console.log(id);
        try {
            const res = await fetch(`/blogs/${id}`, {
                method: 'DELETE'
            });

            const data = await res.json();
            console.log(data);
            if (res.status === 200) {
                window.location.href = '/';
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>

</html>